<z-card zTitle="All your subjects" zDescription="Manage and explore your subjects here" class="mx-auto w-4/5 max-w-6xl">
    @if (data() && data().length > 0) {
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mb-8">
        @for (subject of data(); track subject) {
        <z-card [attr.data-id]="subject.id" class="hover:shadow-lg transition-shadow duration-300">
            <div class="flex items-center justify-center text-4xl">{{ subject.icon }}</div>
            <div class="flex h-[100px] items-center justify-center text-2xl font-semibold md:h-[150px]">
                {{ subject.name }}
            </div>
            <z-button [routerLink]="['/subjects', subject.slug]" zType="secondary" class="w-full">View
                Details</z-button>
        </z-card>
        }
    </div>
    } @else {
    <div class="flex flex-col items-center h-40 justify-center">
        <z-loader zSize="lg" class="my-4" />
    </div>
    }

</z-card>