<h1 class="text-4xl mb-6  ">{{ title() }}</h1>
<div class=" p-6 m-auto ">

  @if (data && data.length > 0) {
  <ul class=" mt-6   flex flex-wrap  gap-5  ">
    @for (subject of data; track $index) {
    <z-card class="w-full max-w-sm shadow-md border-0" [zTitle]="subject?.name" 
      [zDescription]="subject?.icon"  [attr.data-id]="subject.id">
      <div class="space-y-4"  >
          <div class="flex">
            {{ subject.id }}
          </div>
        <div class="space-y-2">
          <z-button zType="secondary" class="w-full"> Login </z-button>
          <z-button zType="outline" class="w-full">Login with Google</z-button>
        </div>
      </div>
    </z-card>
    }
  </ul>
  } @else {
  <p>Loading subjects...</p>
  }
</div>